:root {
  --color-dark-purple: #0E021C;
  --color-grey: #f0f0f0;
  --color-dark-grey: #E1E1E1;
  --color-grey-p: #9A9A9A;
  --color-blue :#708EB0;
  --color-blue-2 :#57718F;
  --color-white :#fefefe;
  --color-darkmode-main: #2c3541;
  --color-darkmode-secondary: #1c2229;
}

*{
  margin : 0;
}


/*** TAGS ***/

body {
  font-family: 'Roboto', sans-serif;
  min-width: 1100px;
}

h1 {
  font-weight: bold;
  font-size: initial;
}

h3, .main-text {
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: var(--color-dark-purple);
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-grey-p);
}

h3.dark-mode, p.dark-mode, label.dark-mode {
  color: var(--color-white);
}

strong {
  margin-left: 4px;
  color: var(--color-blue-2);
  font-weight:bold;
}

select {
  transition: .2s all ease;
  cursor: pointer;
  background-color: var(--color-grey);
  color: var(--color-blue);
  border-width: 1px;
  border-radius: 2px;
  border-color: var(--color-blue);
  height: 30px;
}


select:hover {
  background-color: var(--color-dark-grey);
}

canvas {
  /*width: 100% !important;
  height: 100% !important;*/
  position: absolute;
}


/*** CLASSES ***/

.full-height {
  height: 100vh;
}

/** FLEXBOXES **/
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display:flex;
  flex-direction: column;
}

.row.center-x-spaced, .column.center-y-spaced {
  justify-content: space-between;
}

.row.center-x, .column.center-y {
  justify-content: center;
}

.row.center-y, .column.center-x {
  align-items: center;
}


.hidden {
  display: none !important;
}

.space-y {
  padding: 10px 0;
}

.warning-message {
  color: red;
}

.number-nodes {
  line-height: 25px;
  font-weight: bold;
  margin-left: 29px;
  margin-top: 20px;
}

/** SENSORS UI **/
.sensorUI {
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-dark-grey);
}

.sensor-color {
  width: 10px;
  height: 10px;
  margin-right: 8px;
}

.sensorUI [data-icon] {
  width: 13px;
  height: 13px;
  margin: 0 8px;
  color: var(--color-dark-purple);
  cursor: pointer;
}

.sensorUI > .sections-container {
  gap: 10px;
}

.sensor-transformations > * {
  flex-basis: 25%;
}

.draggable {
  cursor: ew-resize;
}

.underlined {
  text-decoration: underline;
}

.bold-font {
  font-weight: bold;
}

.normal-font{
  font-weight: normal;
}

.cam-spec {
  width: 75%;
}

.cam-spec p {
  flex-grow: 1;
  flex-basis: 10%;
  text-align: end;
}

.spec-title {
  flex-grow: 2 !important;
  text-align: left !important;
}


/** MODALS **/
.modal {
  /* Center the modal */
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: var(--color-white);
  border: 4px solid var(--color-grey);
  padding: 30px;
}

.modal-content.dark-mode {
  background-color: var(--color-darkmode-main) !important;
  border-color: var(--color-darkmode-secondary) !important;
}

.sections-container {
  gap: 30px;
}

.close {
  float: right;
  color: var(--color-grey-p);
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: var(--color-dark-purple);
  cursor: pointer;
}


/** BUTTONS **/
.button {
  box-sizing: border-box;
  width: 140px;
  height: 24px;
  border: 1px solid var(--color-blue);
  border-radius: 2px;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 20px;
  text-align: center;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: .2s all ease;
}

.default-button {
  background-color: var(--color-white);
}

.default-button:hover {
  background-color: var(--color-grey);
}

.default-button p {
  color: var(--color-blue);
}

.main-button {
  background-color: var(--color-blue);
}

.main-button:hover {
  background-color: var(--color-blue-2);
}

.main-button p {
  color: var(--color-white);
}


/** GIZMO **/ 
.orbit-controls-gizmo {
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 50;
  background-color: #FFF0;
  border-radius: 100%;
  transition: background-color .15s  linear;
  cursor: pointer;
}

.orbit-controls-gizmo.dragging, 
.orbit-controls-gizmo:hover {
  background-color: #FFF3;
}

.orbit-controls-gizmo.inactive {
  pointer-events: none;
  background-color: #FFF0  !important;
}




/*** DATASETS ***/

[data-tool] [data-icon] {
  width : 24px;
  height : 24px;
  margin: 7px;
  color : var(--color-white);
}

[data-tool] {
  width: 40px;
  height: 40px;
  background-color: var(--color-grey-p);
  transition: 0.2s all ease;
}

[data-tool]:hover:not(.active) {
    background-color: var(--color-blue-2);
    cursor: pointer;
}

[data-tool]:nth-child(1) {
  border-radius: 2px 2px 0px 0px;

}
[data-tool]:nth-child(4) {
  border-radius: 0px 0px 2px 2px;
}

[data-tool].active {
  background: var(--color-blue); ;
}




/*** IDs ***/

/** SECTIONS **/
#left-section {
  width : calc( 100% - 400px);
  overflow: hidden;
}

#right-section {
  width : 400px;
  overflow: auto;
}


/** HEADER **/
#header {
  box-sizing: border-box;
  height: 46px;
  width: 100%;
  padding: 0 35px;
  background-color: var(--color-dark-purple);
}

#header img {
  width: 20px;
  height: 20px;
}

#website-title {
  color: var(--color-white);
}

/** VIEWPORT **/
#viewport {
  position: relative;
  height : calc( 100vh - 46px);
  width: 100%;
  background-color:var(--color-grey);
}

#toolbar {
  position: absolute;
  height: 100%;
  margin-left: 25px;
  justify-content : center;
  flex-direction: column;
  width: 40px;
}

#viewport-buttons {
  position: absolute;
  width: 100%;
  bottom: 25px;
}

#dummies-buttons {
  display: grid;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

/** INSPECTOR **/

#inspector > * {
  padding: 20px 29px;
}

#inspector.dark-mode {
  background-color: var(--color-darkmode-main) !important;
}

#scene-infos {
  background-color: var(--color-grey);
}

#scene-infos.dark-mode {
  background-color: var(--color-darkmode-secondary) !important;
}

/** LOAD FILE BUTTON **/
#load-file-input{
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
}

/** SHARE MODAL **/
#share-modal-content {
  width: 20%;
  padding: 10px 30px 30px 30px;
}

#close-share-modal{
  align-self: flex-end;
}

/** WIZARD MODAL **/
#wizard-content {
  width: 35%;
}



/*** ICONS ***/

.main-icon{
  color: white;
  padding: 4px;
}

.secondary-icon{
  color: #708EB0;
  padding:4px;
}

#scene-fully-covered-icon{
  color: #2b2
}