:root {
  --color-dark-purple: #0E021C;
  --color-viewport: #DDDDDD;
  --color-grey-p: #9A9A9A;
  --color-blue :#708EB0;
  --color-blue-2 :#57718F;
  --color-white :white;
  --color-select-camera : #fff;
}

*{
  margin : 0;
}
body{
  font-family: 'Roboto', sans-serif;
  min-width: 1100px;
}

h1{
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-dark-purple);
}

p{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-grey-p);
}

strong{
  color: var(--color-dark-purple);
  font-weight: 400;
  margin-left: 4px;
}


#main{
  width : calc( 100% - 400px);
  overflow: hidden;
}

.row {
  display: flex;
}

.s-p{
  justify-content: space-between;
}

.center{
  justify-content : center;
}
.full-height{
  height: 100vh;
}
.column-2{
  width:70%;
}

#header{
  height: 46px;
  background-color: var(--color-dark-purple);
  width: 100%;
}

#header .row{
  margin-top: 12px;
  margin-right: 40px;
}
#header .row p:nth-child(2){
  line-height: 25px;
}

#project-name{
  margin-top: 18px;
}


#header img{
  margin: 12px 0 0 33px;
  width: 20px;
  height: 21px;
}

#viewport{
  position: relative;
  height : calc( 100vh - 46px);
  width: 100%;
  background-color:var(--color-viewport);
}

#inspector{
  width : 400px;
  overflow: auto;
}

#scene-info{
  padding: 29px ;
  background-color: #F4F4F4;
}

.camera-color{
  width: 10px;
  height: 10px;
}
[data-camera] .camera-color{
  margin: 2px 8px 0 0;
}

[data-camera]{
  padding: 29px;
  border-bottom: 2px solid var(--color-viewport);
}
[data-camera] p{
    line-height:25px;

}
[data-camera].active{
  background-color: var(--color-select-camera);
}

[data-tool] [data-icon]{
  width : 24px;
  height : 24px;
  margin: 7px;
  color : var(--color-white);
}


[data-camera] [data-icon]{
  width: 13px;
  height: 13px;
    margin: 5px 8px 0 8px;
  color: var(--color-dark-purple);
    cursor: pointer;
}
[data-camera] [data-icon="gg:lock"]{
  margin: 2px 0px 0 0;
}

#scene-info .row div{
  flex:1;
}

#gizmo{
  position: absolute;
  top : 30px;
  right: 30px;
  width: 75px;
  height : 75px;
  background-image: url(../img/gizmo.png);
  background-repeat: no-repeat;

}

#toolbar{
  position: absolute;
  height: 100%;
  margin-left: 25px;
  justify-content : center;
  flex-direction: column;
  width: 40px;
}

canvas{
  width: 100% !important;
  height: 100% !important;
  position: absolute;
}

[data-tool]{
  width: 40px;
  height: 40px;
  background-color: var(--color-grey-p);
  transition: 0.2s all ease;
}

[data-tool]:hover:not(.active){
    background-color: var(--color-blue-2);
    cursor: pointer;
}

[data-tool]:nth-child(1){
  border-radius: 2px 2px 0px 0px;

}
[data-tool]:nth-child(4){
  border-radius: 0px 0px 2px 2px;
}

[data-tool].active{
  background:  var(--color-blue); ;
}

[data-button]{
  transition: .2s all ease;
  border: 1px solid var(--color-blue);
  width: 111px;
  height: 24px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 2px;
  margin: 0 20px 0 20px;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
[data-button].active:hover{
  background:  var(--color-blue-2);
}
[data-button].active{
  background:  var(--color-blue);
}

#inspector [data-button]{
  margin: 20px auto 20px auto;
}

.inputArea{
  margin-left: 10%;
  margin-top: -4%;
  width: 40%;
}

[data-button].active p{
  color:  var(--color-white);
}
[data-button] p{
  color:  var(--color-blue);
  margin: 0;
  line-height: 24px;
}

#viewport-button{
  position: absolute;
  width: 100%;
  bottom: 25px;
}

#select-camera{
  width:100%;
}

.select{
  transition: .2s all ease;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  /* padding-left: 5px;
  margin-left: -5px; */
  height: 70%;
}

.camera-type{
  background-color: white;
  font-weight: bold;
  margin-top: 4%;
}

.select-form{
  background-color: #eee;
  margin-bottom: 4%;
}

.select:hover{
  background-color: var(--color-viewport);
}

#dummies-buttons{
  display: grid;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.draggable{
  cursor: ew-resize;
}

strong
{
  color: var(--color-blue-2);
  font-weight:bold;
}

/* COPY LINK MODAL */
#copy-link{
  width: auto;
  height: auto;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid #fefefe;
  justify-content: space-between;
}

.scene-form{
  width: 50%;
}

.link {
  width: 12%;
  display: flex;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}