[submodule "js/lib/three-js"]
	path = js/lib/three-js
	url = https://github.com/mrdoob/three.js/
[submodule "js/lib/polybooljs"]
	path = js/lib/polybooljs
	url = https://github.com/velipso/polybooljs
